mule-notification/mcp-server.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns="http://www.mulesoft.org/schema/mule/core">

  <http:listener-config name="http-config">
    <http:listener-connection host="0.0.0.0" port="8081"/>
  </http:listener-config>

  <!-- MCP Tool: Send Welcome Notification -->
  <flow name="send-welcome">
    <http:listener config-ref="http-config" path="/mcp/tools/welcome" method="POST"/>
    <logger level="INFO" message="🚀 Welcome email sent to #[payload.email] for employee #[payload.name] (ID: #[payload.empId])"/>
    <set-payload value="#[{'status': 'welcome sent', 'email': payload.email}]"/>
  </flow>
</mule>
