postgres-mcp-onboarding/src/main/mule/postgres-mcp-onboarding.xml
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    
    <!-- MCP Tool: Create Employee -->
    <flow name="create-employee" doc:name="Create Employee Tool">
        <http:listener config-ref="http-config" path="/mcp/tools/create-employee" allowedMethods="POST" doc:name="Create Employee Listener"/>
        <set-variable variableName="employeePayload" value="#[payload]" doc:name="Store Employee Data"/>
        <db:insert config-ref="postgres-config" doc:name="Insert Employee">
            <db:sql>INSERT INTO employees (name, email, status) VALUES (#[vars.employeePayload.name], #[vars.employeePayload.email], 'pending')</db:sql>
        </db:insert>
        <set-payload value="#[{'status': 'created', 'employeeId': payload, 'name': vars.employeePayload.name, 'email': vars.employeePayload.email}]" doc:name="Set Success Response"/>
        <error-handler>
            <on-error-propagate enableNotifications="true" logException="true" doc:name="Error Handler">
                <logger level="ERROR" message="Error creating employee: #[error.description]" doc:name="Log Error"/>
                <set-payload value="#[{'status': 'error', 'message': error.description}]" doc:name="Set Error Response"/>
            </on-error-propagate>
        </error-handler>
    </flow>

    <!-- MCP Tool: Allocate Assets -->
    <flow name="allocate-assets" doc:name="Allocate Assets Tool">
        <http:listener config-ref="http-config" path="/mcp/tools/allocate-assets" allowedMethods="POST" doc:name="Allocate Assets Listener"/>
        <set-variable variableName="assetPayload" value="#[payload]" doc:name="Store Asset Data"/>
        <foreach collection="#[vars.assetPayload.assets]" doc:name="Process Each Asset">
            <db:insert config-ref="postgres-config" doc:name="Insert Asset">
                <db:sql>INSERT INTO assets (emp_id, asset_type, assigned_date, status) VALUES (#[vars.assetPayload.empId], #[payload], NOW(), 'assigned')</db:sql>
            </db:insert>
        </foreach>
        <set-payload value="#[{'status': 'assets allocated', 'empId': vars.assetPayload.empId, 'assets': vars.assetPayload.assets}]" doc:name="Set Success Response"/>
        <error-handler>
            <on-error-propagate enableNotifications="true" logException="true" doc:name="Error Handler">
                <logger level="ERROR" message="Error allocating assets: #[error.description]" doc:name="Log Error"/>
                <set-payload value="#[{'status': 'error', 'message': error.description}]" doc:name="Set Error Response"/>
            </on-error-propagate>
        </error-handler>
    </flow>

    <!-- MCP Tool: Send Welcome Notification -->
    <flow name="send-welcome-notification" doc:name="Send Welcome Notification Tool">
        <http:listener config-ref="http-config" path="/mcp/tools/send-welcome" allowedMethods="POST" doc:name="Welcome Notification Listener"/>
        <set-variable variableName="welcomePayload" value="#[payload]" doc:name="Store Welcome Data"/>
        <logger level="INFO" message="🚀 Welcome notification sent to #[vars.welcomePayload.email] for employee #[vars.welcomePayload.name] (ID: #[vars.welcomePayload.empId])" doc:name="Log Welcome"/>
        <!-- Optional: Insert notification record -->
        <db:insert config-ref="postgres-config" doc:name="Log Notification">
            <db:sql>INSERT INTO notifications (emp_id, type, message, sent_date, status) VALUES (#[vars.welcomePayload.empId], 'welcome', 'Welcome email sent', NOW(), 'sent')</db:sql>
        </db:insert>
        <set-payload value="#[{'status': 'welcome sent', 'email': vars.welcomePayload.email, 'name': vars.welcomePayload.name, 'empId': vars.welcomePayload.empId}]" doc:name="Set Success Response"/>
        <error-handler>
            <on-error-propagate enableNotifications="true" logException="true" doc:name="Error Handler">
                <logger level="ERROR" message="Error sending welcome notification: #[error.description]" doc:name="Log Error"/>
                <set-payload value="#[{'status': 'error', 'message': error.description}]" doc:name="Set Error Response"/>
            </on-error-propagate>
        </error-handler>
    </flow>

    <!-- Health Check Endpoint -->
    <flow name="health-check" doc:name="Health Check">
        <http:listener config-ref="http-config" path="/health" allowedMethods="GET" doc:name="Health Check Listener"/>
        <set-payload value="#[{'status': 'healthy', 'timestamp': now(), 'service': 'employee-onboarding-mcp-server'}]" doc:name="Set Health Response"/>
    </flow>

</mule>
