src/main/mule/asset-allocation-mcp-server.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" 
      xmlns:db="http://www.mulesoft.org/schema/mule/db" 
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" 
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" 
      xmlns:http="http://www.mulesoft.org/schema/mule/http" 
      xmlns:mcp="http://www.mulesoft.org/schema/mule/mcp" 
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd 
                          http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd 
                          http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
                          http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
                          http://www.mulesoft.org/schema/mule/mcp http://www.mulesoft.org/schema/mule/mcp/current/mule-mcp.xsd">

    <!-- Asset Allocation MCP Server Flows -->
    
    <!-- Health Check Endpoint -->
    <flow name="asset-health-check" doc:id="a1s2s3e4-t5h6-e7a8-l9t0-h1c2h3e4c5k6">
        <http:listener config-ref="Asset_Allocation_Listener_config" path="/assets/health" doc:name="Asset Health Check Listener" doc:id="a2s3s4e5-t6h7-e8a9-l0t1-h2c3h4e5c6k7"/>
        <ee:transform doc:name="Asset Health Response" doc:id="a3s4s5e6-t7h8-e9a0-l1t2-h3c4h5e6c7k8">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    status: "healthy",
    service: "Asset Allocation MCP Server",
    timestamp: now(),
    version: "1.0.0",
    endpoints: [
        "/assets/health",
        "/assets/initialize",
        "/assets/allocate",
        "/assets/list",
        "/assets/employee/{employeeId}"
    ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>

    <!-- Initialize Asset Inventory -->
    <flow name="initialize-assets" doc:id="i1n2i3t4-i5a6-l7i8-z9e0-a1s2s3e4t5s6">
        <http:listener config-ref="Asset_Allocation_Listener_config" path="/assets/initialize" doc:name="Initialize Assets Listener" doc:id="i2n3i4t5-i6a7-l8i9-z0e1-a2s3s4e5t6s7"/>
        <logger level="INFO" doc:name="Log Asset Init" message="Initializing asset inventory..."/>
        
        <!-- Check if assets already exist -->
        <db:select doc:name="Check Asset Count" doc:id="i3n4i5t6-i7a8-l9i0-z1e2-a3s4s5e6t7s8" config-ref="Database_Config">
            <db:sql><![CDATA[SELECT COUNT(*) as asset_count FROM assets]]></db:sql>
        </db:select>
        
        <choice doc:name="Assets Already Exist?" doc:id="i4n5i6t7-i8a9-l0i1-z2e3-a4s5s6e7t8s9">
            <when expression="#[payload[0].ASSET_COUNT > 0]">
                <logger level="INFO" doc:name="Log Assets Exist" message="Assets already initialized. Count: #[payload[0].ASSET_COUNT]"/>
                <ee:transform doc:name="Assets Already Exist Response" doc:id="i5n6i7t8-i9a0-l1i2-z3e4-a5s6s7e8t9s0">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    success: true,
    message: "Asset inventory already initialized",
    assetCount: payload[0].ASSET_COUNT,
    status: "already_initialized"
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </when>
            <otherwise>
                <logger level="INFO" doc:name="Log Initializing Assets" message="No assets found. Initializing with sample data..."/>
                <ee:transform doc:name="New Assets Initialized Response" doc:id="i6n7i8t9-i0a1-l2i3-z4e5-a6s7s8e9t0s1">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    success: true,
    message: "Asset inventory initialized successfully",
    assetCount: 0,
    status: "initialized"
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </otherwise>
        </choice>
    </flow>

    <!-- Allocate Assets to Employee -->
    <flow name="allocate-assets" doc:id="a1l2l3o4-c5a6-t7e8-a9s0-s1e2t3s4a5l6">
        <http:listener config-ref="Asset_Allocation_Listener_config" path="/assets/allocate" doc:name="Allocate Assets Listener" doc:id="a2l3l4o5-c6a7-t8e9-a0s1-s2e3t4s5a6l7"/>
        <set-variable variableName="allocationRequest" value="#[payload]" doc:name="Set Allocation Request"/>
        <logger level="INFO" doc:name="Log Asset Allocation" message="Allocating assets to employee: #[vars.allocationRequest.employeeId]"/>
        
        <!-- Get available assets by type -->
        <db:select doc:name="Get Available Assets" doc:id="a3l4l5o6-c7a8-t9e0-a1s2-s3e4t5s6a7l8" config-ref="Database_Config">
            <db:sql><![CDATA[SELECT * FROM assets WHERE status = 'available' AND asset_type IN ('laptop', 'phone', 'security_badge') ORDER BY asset_type, created_date LIMIT 10]]></db:sql>
        </db:select>
        
        <set-variable variableName="availableAssets" value="#[payload]" doc:name="Set Available Assets"/>
        
        <choice doc:name="Assets Available?" doc:id="a4l5l6o7-c8a9-t0e1-a2s3-s4e5t6s7a8l9">
            <when expression="#[sizeOf(vars.availableAssets) > 0]">
                <!-- Allocate first available assets of each type -->
                <ee:transform doc:name="Select Assets to Allocate" doc:id="a5l6l7o8-c9a0-t1e2-a3s4-s5e6t7s8a9l0">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
var requestedTypes = vars.allocationRequest.assetTypes default ["laptop", "phone", "security_badge"]
var selectedAssets = requestedTypes map (assetType) ->
    (vars.availableAssets filter (asset) -> asset.ASSET_TYPE == assetType)[0]
var validAssets = selectedAssets filter ($ != null)
---
{
    employeeId: vars.allocationRequest.employeeId,
    allocatedAssets: validAssets,
    allocationId: "ALLOC-" ++ (now() as String {format: "yyyyMMddHHmmss"})
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
                
                <set-variable variableName="allocationResult" value="#[payload]" doc:name="Set Allocation Result"/>
                
                <!-- Update asset assignments in database -->
                <foreach doc:name="Update Asset Assignments" collection="#[vars.allocationResult.allocatedAssets]">
                    <db:update doc:name="Assign Asset" doc:id="a6l7l8o9-c0a1-t2e3-a4s5-s6e7t8s9a0l1" config-ref="Database_Config">
                        <db:sql><![CDATA[UPDATE assets SET status = 'assigned', assigned_to = :employeeId, assigned_date = NOW() WHERE asset_id = :assetId]]></db:sql>
                        <db:input-parameters><![CDATA[{
                            "employeeId": vars.allocationResult.employeeId,
                            "assetId": payload.ASSET_ID
                        }]]></db:input-parameters>
                    </db:update>
                </foreach>
                
                <!-- Return success response -->
                <ee:transform doc:name="Allocation Success Response" doc:id="a7l8l9o0-c1a2-t3e4-a5s6-s7e8t9s0a1l2">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    success: true,
    message: "Assets allocated successfully",
    employeeId: vars.allocationResult.employeeId,
    allocationId: vars.allocationResult.allocationId,
    allocatedAssets: vars.allocationResult.allocatedAssets map {
        assetId: $.ASSET_ID,
        assetType: $.ASSET_TYPE,
        assetName: $.ASSET_NAME,
        description: $.DESCRIPTION,
        serialNumber: $.SERIAL_NUMBER
    },
    allocationDate: now()
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
                
            </when>
            <otherwise>
                <ee:transform doc:name="No Assets Available Response" doc:id="a8l9l0o1-c2a3-t4e5-a6s7-s8e9t0s1a2l3">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    success: false,
    message: "No assets available for allocation",
    employeeId: vars.allocationRequest.employeeId,
    availableAssetCount: 0,
    allocatedAssets: []
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </otherwise>
        </choice>
    </flow>

    <!-- List All Assets -->
    <flow name="list-assets" doc:id="l1i2s3t4-a5s6-s7e8-t9s0-l1i2s3t4a5s6">
        <http:listener config-ref="Asset_Allocation_Listener_config" path="/assets/list" doc:name="List Assets Listener" doc:id="l2i3s4t5-a6s7-s8e9-t0s1-l2i3s4t5a6s7"/>
        <db:select doc:name="Select All Assets" doc:id="l3i4s5t6-a7s8-s9e0-t1s2-l3i4s5t6a7s8" config-ref="Database_Config">
            <db:sql><![CDATA[SELECT * FROM assets ORDER BY status, asset_type, created_date]]></db:sql>
        </db:select>
        <ee:transform doc:name="Asset List Response" doc:id="l4i5s6t7-a8s9-s0e1-t2s3-l4i5s6t7a8s9">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    success: true,
    assets: payload,
    summary: {
        totalAssets: sizeOf(payload),
        availableAssets: sizeOf(payload filter ($.STATUS == "available")),
        assignedAssets: sizeOf(payload filter ($.STATUS == "assigned")),
        assetTypes: payload distinctBy $.ASSET_TYPE pluck $.ASSET_TYPE
    }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>

    <!-- Get Employee Assets -->
    <flow name="get-employee-assets" doc:id="g1e2t3e4-m5p6-l7o8-y9e0-e1a2s3s4e5t6">
        <http:listener config-ref="Asset_Allocation_Listener_config" path="/assets/employee/{employeeId}" doc:name="Get Employee Assets Listener" doc:id="g2e3t4e5-m6p7-l8o9-y0e1-e2a3s4s5e6t7"/>
        <set-variable variableName="employeeId" value="#[attributes.uriParams.employeeId]" doc:name="Set Employee ID"/>
        <db:select doc:name="Select Employee Assets" doc:id="g3e4t5e6-m7p8-l9o0-y1e2-e3a4s5s6e7t8" config-ref="Database_Config">
            <db:sql><![CDATA[SELECT * FROM assets WHERE assigned_to = :employeeId ORDER BY assigned_date DESC]]></db:sql>
            <db:input-parameters><![CDATA[{
                "employeeId": vars.employeeId
            }]]></db:input-parameters>
        </db:select>
        <ee:transform doc:name="Employee Assets Response" doc:id="g4e5t6e7-m8p9-l0o1-y2e3-e4a5s6s7e8t9">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    success: true,
    employeeId: vars.employeeId,
    allocatedAssets: payload,
    assetCount: sizeOf(payload),
    assetTypes: payload distinctBy $.ASSET_TYPE pluck $.ASSET_TYPE
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>

</mule>
