src/main/mule/asset-allocation-mcp-server.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" 
      xmlns:db="http://www.mulesoft.org/schema/mule/db" 
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" 
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" 
      xmlns:http="http://www.mulesoft.org/schema/mule/http" 
      xmlns:mcp="http://www.mulesoft.org/schema/mule/mcp" 
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd 
                          http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd 
                          http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
                          http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
                          http://www.mulesoft.org/schema/mule/mcp http://www.mulesoft.org/schema/mule/mcp/current/mule-mcp.xsd">

    <!-- Asset Allocation MCP Server Flows -->
    
    <flow name="initialize-asset-inventory" doc:id="e5f6g7h8-i9j0-k1l2-m3n4-o5p6q7r8s9t0">
        <http:listener config-ref="Asset_Allocation_Listener_config" path="/initializeAssets" doc:name="Initialize Assets HTTP Listener" doc:id="j5k6l7m8-n9o0-p1q2-r3s4-t5u6v7w8x9y0"/>
        <ee:transform doc:name="Create Asset Data" doc:id="o5p6q7r8-s9t0-u1v2-w3x4-y5z6a7b8c9d0">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
    {
        "assetId": "LAP001",
        "assetType": "laptop",
        "brand": "Dell",
        "model": "Latitude 5520",
        "serialNumber": "DL001234567",
        "status": "AVAILABLE",
        "specs": "Intel i7, 16GB RAM, 512GB SSD"
    },
    {
        "assetId": "LAP002",
        "assetType": "laptop",
        "brand": "HP",
        "model": "EliteBook 850",
        "serialNumber": "HP001234567",
        "status": "AVAILABLE",
        "specs": "Intel i7, 16GB RAM, 1TB SSD"
    },
    {
        "assetId": "MON001",
        "assetType": "monitor",
        "brand": "Samsung",
        "model": "27 4K Monitor",
        "serialNumber": "SM001234567",
        "status": "AVAILABLE",
        "specs": "27 inch, 4K UHD, USB-C"
    },
    {
        "assetId": "PHN001",
        "assetType": "phone",
        "brand": "Apple",
        "model": "iPhone 15",
        "serialNumber": "AP001234567",
        "status": "AVAILABLE",
        "specs": "128GB, Blue"
    },
    {
        "assetId": "IDC001",
        "assetType": "id_card",
        "brand": "Company",
        "model": "Employee ID Card",
        "serialNumber": "IDC001234567",
        "status": "AVAILABLE",
        "specs": "RFID enabled, Photo ID"
    }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <foreach doc:name="For Each Asset" doc:id="t5u6v7w8-x9y0-z1a2-b3c4-d5e6f7g8h9i0">
            <db:insert doc:name="Insert Asset" doc:id="y5z6a7b8-c9d0-e1f2-g3h4-i5j6k7l8m9n0" config-ref="Database_Config">
                <db:sql><![CDATA[INSERT INTO assets (asset_id, asset_type, brand, model, serial_number, status, specs, created_date) 
                                 VALUES (:assetId, :assetType, :brand, :model, :serialNumber, :status, :specs, NOW())
                                 ON DUPLICATE KEY UPDATE status = :status]]></db:sql>
                <db:input-parameters><![CDATA[
                    {
                        "assetId": "#[payload.assetId]",
                        "assetType": "#[payload.assetType]",
                        "brand": "#[payload.brand]",
                        "model": "#[payload.model]",
                        "serialNumber": "#[payload.serialNumber]",
                        "status": "#[payload.status]",
                        "specs": "#[payload.specs]"
                    }
                ]]></db:input-parameters>
            </db:insert>
        </foreach>
        <ee:transform doc:name="Transform Response" doc:id="d6e7f8g9-h0i1-j2k3-l4m5-n6o7p8q9r0s1">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    success: true,
    message: "Asset inventory initialized successfully",
    assetsCreated: sizeOf(vars.originalPayload),
    timestamp: now()
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>

    <flow name="allocate-assets-to-employee" doc:id="f6g7h8i9-j0k1-l2m3-n4o5-p6q7r8s9t0u1">
        <http:listener config-ref="Asset_Allocation_Listener_config" path="/allocateAssets" doc:name="Allocate Assets HTTP Listener" doc:id="k6l7m8n9-o0p1-q2r3-s4t5-u6v7w8x9y0z1"/>
        <set-variable variableName="allocationPayload" value="#[payload]" doc:name="Set Allocation Payload"/>
        <mcp:call-tool doc:name="Call Asset Allocation Tool" doc:id="p6q7r8s9-t0u1-v2w3-x4y5-z6a7b8c9d0e1" config-ref="Asset_MCP_Config" toolName="allocateAssetsTool">
            <mcp:input><![CDATA[
                {
                    "employeeId": "#[vars.allocationPayload.employeeId]",
                    "assetTypes": "#[vars.allocationPayload.assetTypes]"
                }
            ]]></mcp:input>
        </mcp:call-tool>
        <!-- Get available assets for each type requested -->
        <db:select doc:name="Select Available Assets" doc:id="u6v7w8x9-y0z1-a2b3-c4d5-e6f7g8h9i0j1" config-ref="Database_Config">
            <db:sql><![CDATA[SELECT * FROM assets WHERE asset_type IN (:assetTypes) AND status = 'AVAILABLE' 
                             ORDER BY asset_type, created_date ASC]]></db:sql>
            <db:input-parameters><![CDATA[
                {
                    "assetTypes": "#[vars.allocationPayload.assetTypes joinBy ',']"
                }
            ]]></db:input-parameters>
        </db:select>
        <ee:transform doc:name="Process Asset Allocation" doc:id="z6a7b8c9-d0e1-f2g3-h4i5-j6k7l8m9n0o1">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
var availableAssets = payload
var requestedTypes = vars.allocationPayload.assetTypes
var allocatedAssets = requestedTypes map (assetType) -> (
    availableAssets filter (asset) -> asset.asset_type == assetType
)[0] default null
---
{
    employeeId: vars.allocationPayload.employeeId,
    allocatedAssets: allocatedAssets filter ($ != null),
    requestedTypes: requestedTypes,
    allocationDate: now()
}]]></ee:set-payload>
            </ee:message>
            <ee:variables>
                <ee:set-variable variableName="allocatedAssets"><![CDATA[%dw 2.0
output application/json
var availableAssets = payload
var requestedTypes = vars.allocationPayload.assetTypes
---
requestedTypes map (assetType) -> (
    availableAssets filter (asset) -> asset.asset_type == assetType
)[0] default null filter ($ != null)]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <!-- Update asset status to ALLOCATED -->
        <foreach doc:name="For Each Allocated Asset" doc:id="e7f8g9h0-i1j2-k3l4-m5n6-o7p8q9r0s1t2">
            <db:update doc:name="Update Asset Status" doc:id="j7k8l9m0-n1o2-p3q4-r5s6-t7u8v9w0x1y2" config-ref="Database_Config">
                <db:sql><![CDATA[UPDATE assets SET status = 'ALLOCATED', allocated_to = :employeeId, 
                                 allocated_date = NOW() WHERE asset_id = :assetId]]></db:sql>
                <db:input-parameters><![CDATA[
                    {
                        "employeeId": "#[vars.allocationPayload.employeeId]",
                        "assetId": "#[payload.asset_id]"
                    }
                ]]></db:input-parameters>
            </db:update>
        </foreach>
        <ee:transform doc:name="Transform Final Response" doc:id="o8p9q0r1-s2t3-u4v5-w6x7-y8z9a0b1c2d3">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    success: true,
    message: "Assets allocated successfully",
    employeeId: vars.allocationPayload.employeeId,
    allocatedAssets: vars.allocatedAssets,
    allocationId: "ALLOC" ++ (now() as String {format: "yyyyMMddHHmmss"}),
    timestamp: now()
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>

    <flow name="get-asset-inventory" doc:id="g7h8i9j0-k1l2-m3n4-o5p6-q7r8s9t0u1v2">
        <http:listener config-ref="Asset_Allocation_Listener_config" path="/getInventory" doc:name="Get Inventory HTTP Listener" doc:id="l7m8n9o0-p1q2-r3s4-t5u6-v7w8x9y0z1a2"/>
        <db:select doc:name="Select All Assets" doc:id="q7r8s9t0-u1v2-w3x4-y5z6-a7b8c9d0e1f2" config-ref="Database_Config">
            <db:sql><![CDATA[SELECT * FROM assets ORDER BY asset_type, status, created_date]]></db:sql>
        </db:select>
        <ee:transform doc:name="Transform Response" doc:id="v8w9x0y1-z2a3-b4c5-d6e7-f8g9h0i1j2k3">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    success: true,
    inventory: payload,
    summary: {
        totalAssets: sizeOf(payload),
        availableAssets: sizeOf(payload filter ($.status == "AVAILABLE")),
        allocatedAssets: sizeOf(payload filter ($.status == "ALLOCATED")),
        maintenanceAssets: sizeOf(payload filter ($.status == "MAINTENANCE"))
    },
    timestamp: now()
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>

    <flow name="get-employee-assets" doc:id="h8i9j0k1-l2m3-n4o5-p6q7-r8s9t0u1v2w3">
        <http:listener config-ref="Asset_Allocation_Listener_config" path="/getEmployeeAssets/{employeeId}" doc:name="Get Employee Assets HTTP Listener" doc:id="m8n9o0p1-q2r3-s4t5-u6v7-w8x9y0z1a2b3"/>
        <set-variable variableName="employeeId" value="#[attributes.uriParams.employeeId]" doc:name="Set Employee ID"/>
        <db:select doc:name="Select Employee Assets" doc:id="r8s9t0u1-v2w3-x4y5-z6a7-b8c9d0e1f2g3" config-ref="Database_Config">
            <db:sql><![CDATA[SELECT * FROM assets WHERE allocated_to = :employeeId AND status = 'ALLOCATED']]></db:sql>
            <db:input-parameters><![CDATA[
                {
                    "employeeId": "#[vars.employeeId]"
                }
            ]]></db:input-parameters>
        </db:select>
        <ee:transform doc:name="Transform Response" doc:id="w9x0y1z2-a3b4-c5d6-e7f8-g9h0i1j2k3l4">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    success: true,
    employeeId: vars.employeeId,
    allocatedAssets: payload,
    assetCount: sizeOf(payload),
    timestamp: now()
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>

    <flow name="return-asset" doc:id="i9j0k1l2-m3n4-o5p6-q7r8-s9t0u1v2w3x4">
        <http:listener config-ref="Asset_Allocation_Listener_config" path="/returnAsset" doc:name="Return Asset HTTP Listener" doc:id="n9o0p1q2-r3s4-t5u6-v7w8-x9y0z1a2b3c4"/>
        <set-variable variableName="returnPayload" value="#[payload]" doc:name="Set Return Payload"/>
        <db:update doc:name="Return Asset to Inventory" doc:id="s9t0u1v2-w3x4-y5z6-a7b8-c9d0e1f2g3h4" config-ref="Database_Config">
            <db:sql><![CDATA[UPDATE assets SET status = 'AVAILABLE', allocated_to = NULL, 
                             allocated_date = NULL, returned_date = NOW() 
                             WHERE asset_id = :assetId AND allocated_to = :employeeId]]></db:sql>
            <db:input-parameters><![CDATA[
                {
                    "assetId": "#[vars.returnPayload.assetId]",
                    "employeeId": "#[vars.returnPayload.employeeId]"
                }
            ]]></db:input-parameters>
        </db:update>
        <ee:transform doc:name="Transform Response" doc:id="x0y1z2a3-b4c5-d6e7-f8g9-h0i1j2k3l4m5">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    success: true,
    message: "Asset returned successfully",
    assetId: vars.returnPayload.assetId,
    employeeId: vars.returnPayload.employeeId,
    returnDate: now(),
    timestamp: now()
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>

</mule>
