src/main/mule/asset-allocation-mcp-server.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" 
      xmlns:db="http://www.mulesoft.org/schema/mule/db" 
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" 
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" 
      xmlns:http="http://www.mulesoft.org/schema/mule/http" 
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd 
                          http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd 
                          http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
                          http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

    <!-- Asset Allocation MCP Server Flows -->
    
    <flow name="allocate-asset" doc:id="a1s2s3e4-t5a6-l7l8-o9c0-a1t2i3o4n5a6">
        <http:listener config-ref="Asset_Allocation_Listener_config" path="/mcp/tools/allocate-asset" doc:name="Allocate Asset Listener" doc:id="a2s3s4e5-t6a7-l8l9-o0c1-a2t3i4o5n6a7" allowedMethods="POST"/>
        <set-variable variableName="assetRequest" value="#[payload]" doc:name="Set Asset Request"/>
        <logger level="INFO" doc:name="Log Asset Request" message="Processing asset allocation request: #[vars.assetRequest]"/>
        
        <!-- Check Available Assets -->
        <db:select doc:name="Check Available Assets" doc:id="a3s4s5e6-t7a8-l9l0-o1c2-a3t4i5o6n7a8" config-ref="Database_Config">
            <db:sql><![CDATA[
                SELECT * FROM assets 
                WHERE asset_type = :assetType 
                AND status = 'AVAILABLE' 
                ORDER BY created_date ASC 
                LIMIT 1
            ]]></db:sql>
            <db:input-parameters><![CDATA[
                {
                    "assetType": vars.assetRequest.assetType
                }
            ]]></db:input-parameters>
        </db:select>
        
        <choice doc:name="Asset Available?" doc:id="a4s5s6e7-t8a9-l0l1-o2c3-a4t5i6o7n8a9">
            <when expression="#[payload != []]">
                <!-- Allocate Asset -->
                <set-variable variableName="availableAsset" value="#[payload[0]]" doc:name="Set Available Asset"/>
                <db:update doc:name="Allocate Asset" doc:id="a5s6s7e8-t9a0-l1l2-o3c4-a5t6i7o8n9a0" config-ref="Database_Config">
                    <db:sql><![CDATA[
                        UPDATE assets 
                        SET status = 'ALLOCATED', 
                            assigned_to = :employeeId,
                            allocated_date = CURRENT_TIMESTAMP,
                            updated_date = CURRENT_TIMESTAMP
                        WHERE asset_id = :assetId
                    ]]></db:sql>
                    <db:input-parameters><![CDATA[
                        {
                            "employeeId": vars.assetRequest.employeeId,
                            "assetId": vars.availableAsset.asset_id
                        }
                    ]]></db:input-parameters>
                </db:update>
                
                <!-- Log Asset Allocation -->
                <db:insert doc:name="Log Asset Allocation" doc:id="a6s7s8e9-t0a1-l2l3-o4c5-a6t7i8o9n0a1" config-ref="Database_Config">
                    <db:sql><![CDATA[
                        INSERT INTO asset_history (
                            asset_id, 
                            employee_id, 
                            action, 
                            action_date, 
                            notes
                        ) VALUES (
                            :assetId,
                            :employeeId,
                            'ALLOCATED',
                            CURRENT_TIMESTAMP,
                            :notes
                        )
                    ]]></db:sql>
                    <db:input-parameters><![CDATA[
                        {
                            "assetId": vars.availableAsset.asset_id,
                            "employeeId": vars.assetRequest.employeeId,
                            "notes": "Asset allocated via MCP request - Priority: " ++ (vars.assetRequest.priority default "normal")
                        }
                    ]]></db:input-parameters>
                </db:insert>
                
                <ee:transform doc:name="Success Response" doc:id="a7s8s9e0-t1a2-l3l4-o5c6-a7t8i9o0n1a2">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    success: true,
    message: "Asset allocated successfully",
    allocation: {
        assetId: vars.availableAsset.asset_id,
        assetType: vars.availableAsset.asset_type,
        assetModel: vars.availableAsset.model,
        serialNumber: vars.availableAsset.serial_number,
        employeeId: vars.assetRequest.employeeId,
        allocatedDate: now() as String,
        status: "ALLOCATED",
        trackingId: "AST-" ++ (now() as String {format: "yyyyMMddHHmmss"})
    }
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </when>
            <otherwise>
                <ee:transform doc:name="No Assets Available" doc:id="a8s9s0e1-t2a3-l4l5-o6c7-a8t9i0o1n2a3">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    success: false,
    message: "No available assets of type: " ++ vars.assetRequest.assetType,
    error: "ASSET_UNAVAILABLE",
    assetType: vars.assetRequest.assetType,
    suggestion: "Consider requesting alternative equipment or check availability later"
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </otherwise>
        </choice>
    </flow>

    <flow name="get-asset-inventory" doc:id="b1s2s3e4-t5a6-l7l8-o9c0-b1t2i3o4n5a6">
        <http:listener config-ref="Asset_Allocation_Listener_config" path="/mcp/tools/get-inventory" doc:name="Get Inventory Listener" doc:id="b2s3s4e5-t6a7-l8l9-o0c1-b2t3i4o5n6a7" allowedMethods="GET"/>
        <set-variable variableName="assetType" value="#[attributes.queryParams.assetType]" doc:name="Set Asset Type Filter"/>
        
        <db:select doc:name="Get Asset Inventory" doc:id="b3s4s5e6-t7a8-l9l0-o1c2-b3t4i5o6n7a8" config-ref="Database_Config">
            <db:sql><![CDATA[
                SELECT 
                    asset_type,
                    status,
                    COUNT(*) as count,
                    AVG(CASE WHEN status = 'AVAILABLE' THEN 1 ELSE 0 END) * 100 as availability_percentage
                FROM assets 
                WHERE (:assetType IS NULL OR asset_type = :assetType)
                GROUP BY asset_type, status
                ORDER BY asset_type, status
            ]]></db:sql>
            <db:input-parameters><![CDATA[
                {
                    "assetType": vars.assetType
                }
            ]]></db:input-parameters>
        </db:select>
        
        <ee:transform doc:name="Transform Inventory Response" doc:id="b4s5s6e7-t8a9-l0l1-o2c3-b4t5i6o7n8a9">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    success: true,
    inventory: payload groupBy $.asset_type mapObject ((statusGroup, assetType) -> {
        (assetType): {
            assetType: assetType,
            totalAssets: sum(statusGroup.*count),
            statusBreakdown: statusGroup map {
                status: $.status,
                count: $.count,
                percentage: round(($.count / sum(statusGroup.*count)) * 100)
            },
            availableCount: sum(statusGroup filter ($.status == "AVAILABLE") map $.count),
            allocatedCount: sum(statusGroup filter ($.status == "ALLOCATED") map $.count),
            maintenanceCount: sum(statusGroup filter ($.status == "MAINTENANCE") map $.count)
        }
    }),
    summary: {
        totalAssetTypes: sizeOf(payload groupBy $.asset_type),
        overallAvailable: sum(payload filter ($.status == "AVAILABLE") map $.count),
        overallAllocated: sum(payload filter ($.status == "ALLOCATED") map $.count),
        timestamp: now() as String
    }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>

    <flow name="return-asset" doc:id="c1s2s3e4-t5a6-l7l8-o9c0-c1t2i3o4n5a6">
        <http:listener config-ref="Asset_Allocation_Listener_config" path="/mcp/tools/return-asset" doc:name="Return Asset Listener" doc:id="c2s3s4e5-t6a7-l8l9-o0c1-c2t3i4o5n6a7" allowedMethods="POST"/>
        <set-variable variableName="returnRequest" value="#[payload]" doc:name="Set Return Request"/>
        
        <!-- Verify Asset Assignment -->
        <db:select doc:name="Verify Asset Assignment" doc:id="c3s4s5e6-t7a8-l9l0-o1c2-c3t4i5o6n7a8" config-ref="Database_Config">
            <db:sql><![CDATA[
                SELECT * FROM assets 
                WHERE asset_id = :assetId 
                AND assigned_to = :employeeId 
                AND status = 'ALLOCATED'
            ]]></db:sql>
            <db:input-parameters><![CDATA[
                {
                    "assetId": vars.returnRequest.assetId,
                    "employeeId": vars.returnRequest.employeeId
                }
            ]]></db:input-parameters>
        </db:select>
        
        <choice doc:name="Asset Assigned?" doc:id="c4s5s6e7-t8a9-l0l1-o2c3-c4t5i6o7n8a9">
            <when expression="#[payload != []]">
                <!-- Return Asset -->
                <db:update doc:name="Return Asset" doc:id="c5s6s7e8-t9a0-l1l2-o3c4-c5t6i7o8n9a0" config-ref="Database_Config">
                    <db:sql><![CDATA[
                        UPDATE assets 
                        SET status = :newStatus,
                            assigned_to = NULL,
                            allocated_date = NULL,
                            updated_date = CURRENT_TIMESTAMP
                        WHERE asset_id = :assetId
                    ]]></db:sql>
                    <db:input-parameters><![CDATA[
                        {
                            "assetId": vars.returnRequest.assetId,
                            "newStatus": vars.returnRequest.condition default "AVAILABLE"
                        }
                    ]]></db:input-parameters>
                </db:update>
                
                <!-- Log Asset Return -->
                <db:insert doc:name="Log Asset Return" doc:id="c6s7s8e9-t0a1-l2l3-o4c5-c6t7i8o9n0a1" config-ref="Database_Config">
                    <db:sql><![CDATA[
                        INSERT INTO asset_history (
                            asset_id, 
                            employee_id, 
                            action, 
                            action_date, 
                            notes
                        ) VALUES (
                            :assetId,
                            :employeeId,
                            'RETURNED',
                            CURRENT_TIMESTAMP,
                            :notes
                        )
                    ]]></db:sql>
                    <db:input-parameters><![CDATA[
                        {
                            "assetId": vars.returnRequest.assetId,
                            "employeeId": vars.returnRequest.employeeId,
                            "notes": "Asset returned - Condition: " ++ (vars.returnRequest.condition default "AVAILABLE") ++ " - Reason: " ++ (vars.returnRequest.reason default "Employee departure")
                        }
                    ]]></db:input-parameters>
                </db:insert>
                
                <ee:transform doc:name="Return Success Response" doc:id="c7s8s9e0-t1a2-l3l4-o5c6-c7t8i9o0n1a2">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    success: true,
    message: "Asset returned successfully",
    return: {
        assetId: vars.returnRequest.assetId,
        employeeId: vars.returnRequest.employeeId,
        returnedDate: now() as String,
        newStatus: vars.returnRequest.condition default "AVAILABLE",
        reason: vars.returnRequest.reason default "Employee departure",
        trackingId: "RTN-" ++ (now() as String {format: "yyyyMMddHHmmss"})
    }
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </when>
            <otherwise>
                <ee:transform doc:name="Asset Not Found or Not Assigned" doc:id="c8s9s0e1-t2a3-l4l5-o6c7-c8t9i0o1n2a3">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    success: false,
    message: "Asset not found or not assigned to this employee",
    error: "ASSET_NOT_ASSIGNED",
    assetId: vars.returnRequest.assetId,
    employeeId: vars.returnRequest.employeeId
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </otherwise>
        </choice>
    </flow>

    <flow name="asset-health-check" doc:id="d1s2s3e4-t5a6-l7l8-o9c0-d1t2i3o4n5a6">
        <http:listener config-ref="Asset_Allocation_Listener_config" path="/mcp/assets/health" doc:name="Asset Health Check Listener" doc:id="d2s3s4e5-t6a7-l8l9-o0c1-d2t3i4o5n6a7" allowedMethods="GET"/>
        
        <try doc:name="Try Asset Health Check" doc:id="d3s4s5e6-t7a8-l9l0-o1c2-d3t4i5o6n7a8">
            <db:select doc:name="Asset Service Health Check" doc:id="d4s5s6e7-t8a9-l0l1-o2c3-d4t5i6o7n8a9" config-ref="Database_Config">
                <db:sql><![CDATA[SELECT COUNT(*) as total_assets FROM assets]]></db:sql>
            </db:select>
            
            <ee:transform doc:name="Healthy Response" doc:id="d5s6s7e8-t9a0-l1l2-o3c4-d5t6i7o8n9a0">
                <ee:message>
                    <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    status: "healthy",
    service: "Asset Allocation MCP Server",
    timestamp: now() as String,
    database: "connected",
    version: "1.0.0",
    totalAssets: payload[0].total_assets,
    endpoints: [
        "/mcp/tools/allocate-asset",
        "/mcp/tools/get-inventory", 
        "/mcp/tools/return-asset",
        "/mcp/assets/health"
    ]
}]]></ee:set-payload>
                </ee:message>
            </ee:transform>
            
            <error-handler>
                <on-error-continue>
                    <ee:transform doc:name="Unhealthy Response" doc:id="d6s7s8e9-t0a1-l2l3-o4c5-d6t7i8o9n0a1">
                        <ee:message>
                            <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    status: "unhealthy",
    service: "Asset Allocation MCP Server",
    timestamp: now() as String,
    database: "disconnected",
    error: error.description,
    version: "1.0.0"
}]]></ee:set-payload>
                        </ee:message>
                        <ee:variables>
                            <ee:set-variable variableName="httpStatus">503</ee:set-variable>
                        </ee:variables>
                    </ee:transform>
                </on-error-continue>
            </error-handler>
        </try>
    </flow>

</mule>
