src/main/mule/consolidated-mcp-servers.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" 
      xmlns:db="http://www.mulesoft.org/schema/mule/db" 
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" 
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" 
      xmlns:email="http://www.mulesoft.org/schema/mule/email" 
      xmlns:http="http://www.mulesoft.org/schema/mule/http" 
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd 
                          http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd 
                          http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
                          http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd 
                          http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

    <!-- Global HTTP Listener Configuration -->
    <http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config">
        <http:listener-connection host="0.0.0.0" port="${http.port}"/>
    </http:listener-config>

    <!-- H2 Database Configuration -->
    <db:config name="Database_Config" doc:name="Database Config">
        <db:generic-connection url="jdbc:h2:mem:employee_db;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE"
                              driverClassName="org.h2.Driver"
                              user="sa"
                              password=""/>
    </db:config>

    <!-- Health Check -->
    <flow name="health-check" doc:id="h1e2a3l4-t5h6-c7h8-e9c0-k1h2e3a4l5t6">
        <http:listener config-ref="HTTP_Listener_config" path="/health" doc:name="Health Check Listener"/>
        <ee:transform doc:name="Health Response">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    status: "UP",
    service: "Employee Onboarding MCP System",
    version: "1.0.0",
    timestamp: now(),
    mcpServers: [
        "postgres-mcp",
        "assets-mcp", 
        "notifications-mcp",
        "onboarding-broker"
    ],
    endpoints: [
        "/health",
        "/mcp/postgres/tools/create-employee",
        "/mcp/assets/tools/allocate",
        "/mcp/notifications/tools/welcome", 
        "/onboard"
    ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>

    <!-- Initialize Database -->
    <flow name="initialize-database" doc:id="i1n2i3t4-d5b6-i7n8-i9t0-i1a2l3i4z5e6">
        <http:listener config-ref="HTTP_Listener_config" path="/initdb" doc:name="Initialize DB Listener"/>
        <logger level="INFO" doc:name="Log DB Init" message="Initializing H2 database..."/>
        
        <!-- Create tables -->
        <db:execute doc:name="Create Tables" config-ref="Database_Config">
            <db:sql><![CDATA[
CREATE TABLE IF NOT EXISTS employees (
    id BIGINT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(255) NOT NULL,
    email VARCHAR(255) NOT NULL,
    status VARCHAR(50) DEFAULT 'pending',
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

CREATE TABLE IF NOT EXISTS assets (
    id BIGINT AUTO_INCREMENT PRIMARY KEY,
    emp_id BIGINT,
    type VARCHAR(100) NOT NULL,
    assigned BOOLEAN DEFAULT FALSE,
    assigned_at TIMESTAMP,
    FOREIGN KEY (emp_id) REFERENCES employees(id)
);
            ]]></db:sql>
        </db:execute>
        
        <ee:transform doc:name="DB Init Response">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    success: true,
    message: "Database initialized successfully",
    tables: ["employees", "assets"],
    timestamp: now()
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>

    <!-- Postgres MCP Server: Create Employee -->
    <flow name="postgres-mcp-create-employee" doc:id="p1g2s3q4-m5c6-p7c8-r9e0-a1t2e3e4m5p6">
        <http:listener config-ref="HTTP_Listener_config" path="/mcp/postgres/tools/create-employee" method="POST" doc:name="Create Employee Listener"/>
        <set-variable variableName="employeeData" value="#[payload]" doc:name="Set Employee Data"/>
        <logger level="INFO" doc:name="Log Employee Creation" message="Creating employee: #[vars.employeeData.name] (#[vars.employeeData.email])"/>
        
        <db:insert config-ref="Database_Config" doc:name="Insert Employee">
            <db:sql><![CDATA[INSERT INTO employees (name, email, status) VALUES (:name, :email, 'pending')]]></db:sql>
            <db:input-parameters><![CDATA[{
                "name": vars.employeeData.name,
                "email": vars.employeeData.email
            }]]></db:input-parameters>
        </db:insert>
        
        <!-- Get the created employee ID -->
        <db:select config-ref="Database_Config" doc:name="Get Employee ID">
            <db:sql><![CDATA[SELECT id FROM employees WHERE email = :email ORDER BY id DESC LIMIT 1]]></db:sql>
            <db:input-parameters><![CDATA[{
                "email": vars.employeeData.email
            }]]></db:input-parameters>
        </db:select>
        
        <ee:transform doc:name="Create Employee Response">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    status: 'created',
    employeeId: payload[0].ID,
    name: vars.employeeData.name,
    email: vars.employeeData.email,
    timestamp: now()
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>

    <!-- Assets MCP Server: Allocate Assets -->
    <flow name="assets-mcp-allocate" doc:id="a1s2s3e4-t5m6-c7p8-a9l0-l1o2c3a4t5e6">
        <http:listener config-ref="HTTP_Listener_config" path="/mcp/assets/tools/allocate" method="POST" doc:name="Allocate Assets Listener"/>
        <set-variable variableName="allocationData" value="#[payload]" doc:name="Set Allocation Data"/>
        <logger level="INFO" doc:name="Log Asset Allocation" message="Allocating assets to employee ID: #[vars.allocationData.empId]"/>
        
        <!-- Allocate each asset -->
        <foreach collection="#[vars.allocationData.assets]" doc:name="For Each Asset">
            <db:insert config-ref="Database_Config" doc:name="Insert Asset">
                <db:sql><![CDATA[INSERT INTO assets (emp_id, type, assigned, assigned_at) VALUES (:empId, :assetType, true, NOW())]]></db:sql>
                <db:input-parameters><![CDATA[{
                    "empId": vars.allocationData.empId,
                    "assetType": payload
                }]]></db:input-parameters>
            </db:insert>
        </foreach>
        
        <ee:transform doc:name="Asset Allocation Response">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    status: 'assets allocated',
    empId: vars.allocationData.empId,
    assets: vars.allocationData.assets,
    allocatedCount: sizeOf(vars.allocationData.assets),
    timestamp: now()
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>

    <!-- Notifications MCP Server: Send Welcome -->
    <flow name="notifications-mcp-welcome" doc:id="n1o2t3i4-f5m6-c7p8-w9e0-l1c2o3m4e5n6">
        <http:listener config-ref="HTTP_Listener_config" path="/mcp/notifications/tools/welcome" method="POST" doc:name="Send Welcome Listener"/>
        <set-variable variableName="welcomeData" value="#[payload]" doc:name="Set Welcome Data"/>
        <logger level="INFO" doc:name="Log Welcome Email" message="🚀 Welcome email sent to #[vars.welcomeData.email] for employee #[vars.welcomeData.name] (ID: #[vars.welcomeData.empId])"/>
        
        <ee:transform doc:name="Welcome Response">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    status: 'welcome sent',
    email: vars.welcomeData.email,
    name: vars.welcomeData.name,
    empId: vars.welcomeData.empId,
    message: "Welcome email notification processed successfully",
    timestamp: now()
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>

    <!-- Onboarding Broker: Complete End-to-End Flow -->
    <flow name="onboarding-broker" doc:id="o1n2b3o4-a5r6-d7i8-n9g0-b1r2o3k4e5r6">
        <http:listener config-ref="HTTP_Listener_config" path="/onboard" method="POST" doc:name="Onboard Employee Listener"/>
        <set-variable variableName="onboardingRequest" value="#[payload]" doc:name="Set Onboarding Request"/>
        <logger level="INFO" doc:name="Log Onboarding Start" message="Starting onboarding process for: #[vars.onboardingRequest.name]"/>
        
        <!-- Step 1: Create Employee -->
        <http:request method="POST" doc:name="Create Employee" config-ref="Local_Request_Config" path="/mcp/postgres/tools/create-employee">
            <http:body><![CDATA[#[vars.onboardingRequest]]]></http:body>
        </http:request>
        <set-variable variableName="employeeResult" value="#[payload]" doc:name="Set Employee Result"/>
        
        <!-- Step 2: Allocate Assets -->
        <http:request method="POST" doc:name="Allocate Assets" config-ref="Local_Request_Config" path="/mcp/assets/tools/allocate">
            <http:body><![CDATA[#[{
                "empId": vars.employeeResult.employeeId,
                "assets": ["laptop", "ID card", "bag"]
            }]]]></http:body>
        </http:request>
        <set-variable variableName="assetResult" value="#[payload]" doc:name="Set Asset Result"/>
        
        <!-- Step 3: Send Welcome -->
        <http:request method="POST" doc:name="Send Welcome" config-ref="Local_Request_Config" path="/mcp/notifications/tools/welcome">
            <http:body><![CDATA[#[vars.onboardingRequest ++ {empId: vars.employeeResult.employeeId}]]]></http:body>
        </http:request>
        <set-variable variableName="welcomeResult" value="#[payload]" doc:name="Set Welcome Result"/>
        
        <ee:transform doc:name="Complete Onboarding Response">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    status: 'complete',
    employeeId: vars.employeeResult.employeeId,
    message: 'Onboarding completed via MCP Agent Broker',
    steps: {
        employeeCreation: vars.employeeResult,
        assetAllocation: vars.assetResult,
        welcomeNotification: vars.welcomeResult
    },
    completedAt: now()
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>

    <!-- Local HTTP Request Configuration -->
    <http:request-config name="Local_Request_Config" doc:name="Local Request Config">
        <http:request-connection host="localhost" port="${http.port}"/>
    </http:request-config>

</mule>
