src/main/mule/email-notification-mcp-server.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" 
      xmlns:db="http://www.mulesoft.org/schema/mule/db" 
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" 
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" 
      xmlns:email="http://www.mulesoft.org/schema/mule/email" 
      xmlns:http="http://www.mulesoft.org/schema/mule/http" 
      xmlns:mcp="http://www.mulesoft.org/schema/mule/mcp" 
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd 
                          http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd 
                          http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
                          http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd 
                          http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
                          http://www.mulesoft.org/schema/mule/mcp http://www.mulesoft.org/schema/mule/mcp/current/mule-mcp.xsd">

    <!-- Email Notification MCP Server Flows -->
    
    <!-- Health Check Endpoint -->
    <flow name="email-health-check" doc:id="e1m2a3i4-l5h6-e7a8-l9t0-h1c2h3e4c5k6">
        <http:listener config-ref="Email_Notification_Listener_config" path="/email/health" doc:name="Email Health Check Listener" doc:id="e2m3a4i5-l6h7-e8a9-l0t1-h2c3h4e5c6k7"/>
        <ee:transform doc:name="Email Health Response" doc:id="e3m4a5i6-l7h8-e9a0-l1t2-h3c4h5e6c7k8">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    status: "healthy",
    service: "Email Notification MCP Server",
    timestamp: now(),
    version: "1.0.0",
    endpoints: [
        "/email/health",
        "/email/sendWelcome",
        "/email/sendAssetAllocation",
        "/email/sendCompletion",
        "/email/logs/{employeeId}"
    ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>

    <!-- Send Welcome Email -->
    <flow name="send-welcome-email" doc:id="s1e2n3d4-w5e6-l7c8-o9m0-e1e2m3a4i5l6">
        <http:listener config-ref="Email_Notification_Listener_config" path="/email/sendWelcome" doc:name="Send Welcome Email Listener" doc:id="s2e3n4d5-w6e7-l8c9-o0m1-e2e3m4a5i6l7"/>
        <set-variable variableName="emailRequest" value="#[payload]" doc:name="Set Email Request"/>
        <logger level="INFO" doc:name="Log Welcome Email" message="Sending welcome email to: #[vars.emailRequest.email]"/>
        
        <!-- Generate welcome email content -->
        <ee:transform doc:name="Generate Welcome Email" doc:id="s3e4n5d6-w7e8-l9c0-o1m2-e3e4m5a6i7l8">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    to: vars.emailRequest.email,
    subject: "Welcome to the Company, " ++ vars.emailRequest.firstName ++ "!",
    body: "Dear " ++ vars.emailRequest.firstName ++ " " ++ vars.emailRequest.lastName ++ ",\n\n" ++
          "Welcome to our company! We are thrilled to have you join our " ++ vars.emailRequest.department ++ " team.\n\n" ++
          "Your employee onboarding process has begun, and we will guide you through each step to ensure a smooth transition.\n\n" ++
          "What happens next:\n" ++
          "• IT equipment will be allocated to you shortly\n" ++
          "• You will receive access credentials for company systems\n" ++
          "• Your manager will be in touch to schedule your first team meeting\n" ++
          "• HR will provide you with important company information and policies\n\n" ++
          "If you have any questions during your onboarding, please don't hesitate to reach out to your HR representative.\n\n" ++
          "Once again, welcome aboard!\n\n" ++
          "Best regards,\n" ++
          "The " ++ vars.emailRequest.department ++ " Team\n\n" ++
          "---\n" ++
          "Employee ID: " ++ (vars.emailRequest.employeeId default "To be assigned") ++ "\n" ++
          "Department: " ++ vars.emailRequest.department ++ "\n" ++
          "Start Date: " ++ (now() as String {format: "MMM dd, yyyy"})
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        
        <set-variable variableName="emailContent" value="#[payload]" doc:name="Set Email Content"/>
        
        <!-- Try to send email, but continue even if it fails (for demo) -->
        <try doc:name="Try Send Email" doc:id="s4e5n6d7-w8e9-l0c1-o2m3-e4e5m6a7i8l9">
            <email:send doc:name="Send Welcome Email" doc:id="s5e6n7d8-w9e0-l1c2-o3m4-e5e6m7a8i9l0" config-ref="Email_SMTP">
                <email:to-addresses>
                    <email:to-address value="#[vars.emailContent.to]"/>
                </email:to-addresses>
                <email:subject>#[vars.emailContent.subject]</email:subject>
                <email:body>
                    <email:content>#[vars.emailContent.body]</email:content>
                </email:body>
            </email:send>
            <set-variable variableName="emailStatus" value="sent" doc:name="Set Email Status Success"/>
            <set-variable variableName="emailError" value="" doc:name="Set No Error"/>
            <error-handler>
                <on-error-continue enableNotifications="true" logException="true" doc:name="On Email Error">
                    <set-variable variableName="emailStatus" value="failed" doc:name="Set Email Status Failed"/>
                    <set-variable variableName="emailError" value="#[error.description default 'Unknown email error']" doc:name="Set Email Error"/>
                    <logger level="WARN" doc:name="Log Email Warning" message="Failed to send welcome email to #[vars.emailRequest.email]: #[vars.emailError]"/>
                </on-error-continue>
            </error-handler>
        </try>
        
        <!-- Log email attempt to database -->
        <db:insert doc:name="Log Email" doc:id="s6e7n8d9-w0e1-l2c3-o4m5-e6e7m8a9i0l1" config-ref="Database_Config">
            <db:sql><![CDATA[INSERT INTO email_logs (employee_id, email_type, recipient_email, subject, message_body, status, error_message, sent_date) VALUES (:employeeId, :emailType, :recipient, :subject, :messageBody, :status, :error, NOW())]]></db:sql>
            <db:input-parameters><![CDATA[{
                "employeeId": vars.emailRequest.employeeId,
                "emailType": "welcome",
                "recipient": vars.emailContent.to,
                "subject": vars.emailContent.subject,
                "messageBody": vars.emailContent.body,
                "status": vars.emailStatus,
                "error": vars.emailError
            }]]></db:input-parameters>
        </db:insert>
        
        <!-- Response -->
        <ee:transform doc:name="Welcome Email Response" doc:id="s7e8n9d0-w1e2-l3c4-o5m6-e7e8m9a0i1l2">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    success: vars.emailStatus == "sent",
    message: if (vars.emailStatus == "sent") "Welcome email sent successfully" else "Welcome email failed to send",
    emailDetails: {
        recipient: vars.emailContent.to,
        subject: vars.emailContent.subject,
        status: vars.emailStatus,
        error: vars.emailError,
        timestamp: now()
    }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>

    <!-- Send Asset Allocation Email -->
    <flow name="send-asset-allocation-email" doc:id="s1e2n3d4-a5s6-s7e8-t9a0-l1l2o3c4a5t6">
        <http:listener config-ref="Email_Notification_Listener_config" path="/email/sendAssetAllocation" doc:name="Send Asset Allocation Email Listener" doc:id="s2e3n4d5-a6s7-s8e9-t0a1-l2l3o4c5a6t7"/>
        <set-variable variableName="emailRequest" value="#[payload]" doc:name="Set Email Request"/>
        <logger level="INFO" doc:name="Log Asset Email" message="Sending asset allocation email to: #[vars.emailRequest.email]"/>
        
        <!-- Generate asset allocation email content -->
        <ee:transform doc:name="Generate Asset Email" doc:id="s3e4n5d6-a7s8-s9e0-t1a2-l3l4o5c6a7t8">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
var allocatedAssets = vars.emailRequest.allocatedAssets default []
var assetList = allocatedAssets map (asset) ->
    "• " ++ asset.assetType ++ ": " ++ asset.assetName ++ " (Serial: " ++ asset.serialNumber ++ ")"
---
{
    to: vars.emailRequest.email,
    subject: "Your IT Equipment Has Been Assigned - " ++ vars.emailRequest.firstName ++ " " ++ vars.emailRequest.lastName,
    body: "Dear " ++ vars.emailRequest.firstName ++ ",\n\n" ++
          "Great news! Your IT equipment has been allocated and is ready for pickup.\n\n" ++
          "Assigned Equipment:\n" ++
          (if (sizeOf(assetList) > 0) joinBy(assetList, "\n") else "• Standard employee package") ++ "\n\n" ++
          "Pickup Instructions:\n" ++
          "• Location: IT Storage Room (Building A, Floor 2)\n" ++
          "• Hours: Monday-Friday, 9:00 AM - 5:00 PM\n" ++
          "• Please bring a valid photo ID for equipment pickup\n" ++
          "• Contact IT Support at ext. 4357 if you have any questions\n\n" ++
          "Equipment Setup:\n" ++
          "• IT will help you set up your equipment during pickup\n" ++
          "• Your login credentials will be provided during setup\n" ++
          "• Please allow 30-45 minutes for the setup process\n\n" ++
          "If you have any questions about your equipment allocation, please contact the IT department.\n\n" ++
          "Best regards,\n" ++
          "IT Operations Team\n\n" ++
          "---\n" ++
          "Employee ID: " ++ vars.emailRequest.employeeId ++ "\n" ++
          "Total Items: " ++ sizeOf(allocatedAssets) ++ "\n" ++
          "Allocation Date: " ++ (now() as String {format: "MMM dd, yyyy"})
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        
        <set-variable variableName="emailContent" value="#[payload]" doc:name="Set Email Content"/>
        
        <!-- Try to send email -->
        <try doc:name="Try Send Asset Email" doc:id="s4e5n6d7-a8s9-s0e1-t2a3-l4l5o6c7a8t9">
            <email:send doc:name="Send Asset Allocation Email" doc:id="s5e6n7d8-a9s0-s1e2-t3a4-l5l6o7c8a9t0" config-ref="Email_SMTP">
                <email:to-addresses>
                    <email:to-address value="#[vars.emailContent.to]"/>
                </email:to-addresses>
                <email:subject>#[vars.emailContent.subject]</email:subject>
                <email:body>
                    <email:content>#[vars.emailContent.body]</email:content>
                </email:body>
            </email:send>
            <set-variable variableName="emailStatus" value="sent" doc:name="Set Email Status Success"/>
            <set-variable variableName="emailError" value="" doc:name="Set No Error"/>
            <error-handler>
                <on-error-continue enableNotifications="true" logException="true" doc:name="On Asset Email Error">
                    <set-variable variableName="emailStatus" value="failed" doc:name="Set Email Status Failed"/>
                    <set-variable variableName="emailError" value="#[error.description default 'Unknown email error']" doc:name="Set Email Error"/>
                    <logger level="WARN" doc:name="Log Asset Email Warning" message="Failed to send asset email to #[vars.emailRequest.email]: #[vars.emailError]"/>
                </on-error-continue>
            </error-handler>
        </try>
        
        <!-- Log email attempt to database -->
        <db:insert doc:name="Log Asset Email" doc:id="s6e7n8d9-a0s1-s2e3-t4a5-l6l7o8c9a0t1" config-ref="Database_Config">
            <db:sql><![CDATA[INSERT INTO email_logs (employee_id, email_type, recipient_email, subject, message_body, status, error_message, sent_date) VALUES (:employeeId, :emailType, :recipient, :subject, :messageBody, :status, :error, NOW())]]></db:sql>
            <db:input-parameters><![CDATA[{
                "employeeId": vars.emailRequest.employeeId,
                "emailType": "asset_allocation",
                "recipient": vars.emailContent.to,
                "subject": vars.emailContent.subject,
                "messageBody": vars.emailContent.body,
                "status": vars.emailStatus,
                "error": vars.emailError
            }]]></db:input-parameters>
        </db:insert>
        
        <!-- Response -->
        <ee:transform doc:name="Asset Email Response" doc:id="s7e8n9d0-a1s2-s3e4-t5a6-l7l8o9c0a1t2">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    success: vars.emailStatus == "sent",
    message: if (vars.emailStatus == "sent") "Asset allocation email sent successfully" else "Asset allocation email failed to send",
    emailDetails: {
        recipient: vars.emailContent.to,
        subject: vars.emailContent.subject,
        status: vars.emailStatus,
        error: vars.emailError,
        timestamp: now()
    }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>

    <!-- Send Completion Email -->
    <flow name="send-completion-email" doc:id="s1e2n3d4-c5o6-m7p8-l9e0-t1i2o3n4e5m6">
        <http:listener config-ref="Email_Notification_Listener_config" path="/email/sendCompletion" doc:name="Send Completion Email Listener" doc:id="s2e3n4d5-c6o7-m8p9-l0e1-t2i3o4n5e6m7"/>
        <set-variable variableName="emailRequest" value="#[payload]" doc:name="Set Email Request"/>
        <logger level="INFO" doc:name="Log Completion Email" message="Sending completion email to: #[vars.emailRequest.email]"/>
        
        <!-- Generate completion email content -->
        <ee:transform doc:name="Generate Completion Email" doc:id="s3e4n5d6-c7o8-m9p0-l1e2-t3i4o5n6e7m8">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    to: vars.emailRequest.email,
    subject: "Welcome Aboard! Your Onboarding is Complete - " ++ vars.emailRequest.firstName ++ " " ++ vars.emailRequest.lastName,
    body: "Dear " ++ vars.emailRequest.firstName ++ ",\n\n" ++
          "Congratulations! You have successfully completed your employee onboarding process.\n\n" ++
          "✅ Onboarding Checklist Complete:\n" ++
          "• Employee profile created\n" ++
          "• IT equipment allocated and configured\n" ++
          "• Security access credentials issued\n" ++
          "• Department orientation scheduled\n" ++
          "• Company policies and procedures reviewed\n\n" ++
          "What's Next:\n" ++
          "• Your manager will schedule your first team meeting\n" ++
          "• You'll receive calendar invites for department meetings\n" ++
          "• Training modules will be available in the learning portal\n" ++
          "• Your HR representative will check in after your first week\n\n" ++
          "Important Resources:\n" ++
          "• Employee Handbook: Available on company intranet\n" ++
          "• IT Support: ext. 4357 or it@company.com\n" ++
          "• HR Support: ext. 2100 or hr@company.com\n" ++
          "• Building Security: ext. 9111\n\n" ++
          "We're excited to have you as part of our " ++ vars.emailRequest.department ++ " team! " ++
          "If you have any questions as you settle into your new role, please don't hesitate to reach out.\n\n" ++
          "Welcome to the team!\n\n" ++
          "Best regards,\n" ++
          "The " ++ vars.emailRequest.department ++ " Team & HR Department\n\n" ++
          "---\n" ++
          "Employee ID: " ++ vars.emailRequest.employeeId ++ "\n" ++
          "Department: " ++ vars.emailRequest.department ++ "\n" ++
          "Onboarding Completion: " ++ (now() as String {format: "MMM dd, yyyy 'at' HH:mm"})
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        
        <set-variable variableName="emailContent" value="#[payload]" doc:name="Set Email Content"/>
        
        <!-- Try to send email -->
        <try doc:name="Try Send Completion Email" doc:id="s4e5n6d7-c8o9-m0p1-l2e3-t4i5o6n7e8m9">
            <email:send doc:name="Send Completion Email" doc:id="s5e6n7d8-c9o0-m1p2-l3e4-t5i6o7n8e9m0" config-ref="Email_SMTP">
                <email:to-addresses>
                    <email:to-address value="#[vars.emailContent.to]"/>
                </email:to-addresses>
                <email:subject>#[vars.emailContent.subject]</email:subject>
                <email:body>
                    <email:content>#[vars.emailContent.body]</email:content>
                </email:body>
            </email:send>
            <set-variable variableName="emailStatus" value="sent" doc:name="Set Email Status Success"/>
            <set-variable variableName="emailError" value="" doc:name="Set No Error"/>
            <error-handler>
                <on-error-continue enableNotifications="true" logException="true" doc:name="On Completion Email Error">
                    <set-variable variableName="emailStatus" value="failed" doc:name="Set Email Status Failed"/>
                    <set-variable variableName="emailError" value="#[error.description default 'Unknown email error']" doc:name="Set Email Error"/>
                    <logger level="WARN" doc:name="Log Completion Email Warning" message="Failed to send completion email to #[vars.emailRequest.email]: #[vars.emailError]"/>
                </on-error-continue>
            </error-handler>
        </try>
        
        <!-- Log email attempt to database -->
        <db:insert doc:name="Log Completion Email" doc:id="s6e7n8d9-c0o1-m2p3-l4e5-t6i7o8n9e0m1" config-ref="Database_Config">
            <db:sql><![CDATA[INSERT INTO email_logs (employee_id, email_type, recipient_email, subject, message_body, status, error_message, sent_date) VALUES (:employeeId, :emailType, :recipient, :subject, :messageBody, :status, :error, NOW())]]></db:sql>
            <db:input-parameters><![CDATA[{
                "employeeId": vars.emailRequest.employeeId,
                "emailType": "onboarding_complete",
                "recipient": vars.emailContent.to,
                "subject": vars.emailContent.subject,
                "messageBody": vars.emailContent.body,
                "status": vars.emailStatus,
                "error": vars.emailError
            }]]></db:input-parameters>
        </db:insert>
        
        <!-- Response -->
        <ee:transform doc:name="Completion Email Response" doc:id="s7e8n9d0-c1o2-m3p4-l5e6-t7i8o9n0e1m2">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    success: vars.emailStatus == "sent",
    message: if (vars.emailStatus == "sent") "Completion email sent successfully" else "Completion email failed to send",
    emailDetails: {
        recipient: vars.emailContent.to,
        subject: vars.emailContent.subject,
        status: vars.emailStatus,
        error: vars.emailError,
        timestamp: now()
    }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>

    <!-- Get Employee Email Logs -->
    <flow name="get-employee-email-logs" doc:id="g1e2t3e4-m5p6-l7o8-y9e0-e1e2m3a4i5l6">
        <http:listener config-ref="Email_Notification_Listener_config" path="/email/logs/{employeeId}" doc:name="Get Employee Email Logs Listener" doc:id="g2e3t4e5-m6p7-l8o9-y0e1-e2e3m4a5i6l7"/>
        <set-variable variableName="employeeId" value="#[attributes.uriParams.employeeId]" doc:name="Set Employee ID"/>
        <db:select doc:name="Select Email Logs" doc:id="g3e4t5e6-m7p8-l9o0-y1e2-e3e4m5a6i7l8" config-ref="Database_Config">
            <db:sql><![CDATA[SELECT * FROM email_logs WHERE employee_id = :employeeId ORDER BY sent_date DESC]]></db:sql>
            <db:input-parameters><![CDATA[{
                "employeeId": vars.employeeId
            }]]></db:input-parameters>
        </db:select>
        <ee:transform doc:name="Email Logs Response" doc:id="g4e5t6e7-m8p9-l0o1-y2e3-e4e5m6a7i8l9">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    success: true,
    employeeId: vars.employeeId,
    emailLogs: payload,
    totalLogs: sizeOf(payload),
    emailTypes: payload distinctBy $.EMAIL_TYPE pluck $.EMAIL_TYPE
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>

</mule>
