src/main/mule/email-notification-mcp-server.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" 
      xmlns:db="http://www.mulesoft.org/schema/mule/db" 
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" 
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" 
      xmlns:http="http://www.mulesoft.org/schema/mule/http" 
      xmlns:email="http://www.mulesoft.org/schema/mule/email"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd 
                          http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd 
                          http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
                          http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
                          http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd">

    <!-- Email Notification MCP Server Flows -->
    
    <flow name="send-welcome-email" doc:id="e1m2a3i4-l5n6-o7t8-i9f0-i1c2a3t4i5o6">
        <http:listener config-ref="Email_Notification_Listener_config" path="/mcp/tools/send-email" doc:name="Send Email Listener" doc:id="e2m3a4i5-l6n7-o8t9-i0f1-i2c3a4t5i6o7" allowedMethods="POST"/>
        <set-variable variableName="emailRequest" value="#[payload]" doc:name="Set Email Request"/>
        <logger level="INFO" doc:name="Log Email Request" message="Processing email notification request: #[vars.emailRequest]"/>
        
        <!-- Validate Email Recipients -->
        <choice doc:name="Valid Email Recipients?" doc:id="e3m4a5i6-l7n8-o9t0-i1f2-i3c4a5t6i7o8">
            <when expression="#[vars.emailRequest.to != null and sizeOf(vars.emailRequest.to) > 0]">
                
                <!-- Log Email Notification -->
                <db:insert doc:name="Log Email Notification" doc:id="e4m5a6i7-l8n9-o0t1-i2f3-i4c5a6t7i8o9" config-ref="Database_Config">
                    <db:sql><![CDATA[
                        INSERT INTO email_notifications (
                            recipient_email,
                            subject,
                            template_type,
                            status,
                            sent_date,
                            metadata
                        ) VALUES (
                            :recipientEmail,
                            :subject,
                            :templateType,
                            'SENT',
                            CURRENT_TIMESTAMP,
                            :metadata
                        )
                    ]]></db:sql>
                    <db:input-parameters><![CDATA[
                        {
                            "recipientEmail": vars.emailRequest.to[0],
                            "subject": vars.emailRequest.subject,
                            "templateType": vars.emailRequest.template default "welcome_employee",
                            "metadata": write(vars.emailRequest, "application/json")
                        }
                    ]]></db:input-parameters>
                </db:insert>
                
                <!-- Generate Email Content -->
                <ee:transform doc:name="Generate Email Content" doc:id="e5m6a7i8-l9n0-o1t2-i3f4-i5c6a7t8i9o0">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
var employee = vars.emailRequest.data.employee default {}
var assets = vars.emailRequest.data.assets default []
var department = vars.emailRequest.data.department default "Company"
var emailBody = 
"<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Welcome to " ++ department ++ "</title>
    <style>
        body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; margin: 0; padding: 20px; }
        .container { max-width: 600px; margin: 0 auto; background: #f9f9f9; padding: 20px; border-radius: 10px; }
        .header { background: #007bff; color: white; padding: 20px; text-align: center; border-radius: 8px; }
        .content { padding: 20px; background: white; margin: 20px 0; border-radius: 8px; }
        .assets { background: #e8f5e8; padding: 15px; border-radius: 5px; margin: 15px 0; }
        .footer { text-align: center; color: #666; font-size: 0.9em; }
        ul { list-style-type: none; padding-left: 0; }
        li { padding: 5px 0; }
        .highlight { background: #fff3cd; padding: 10px; border-radius: 5px; margin: 10px 0; }
    </style>
</head>
<body>
    <div class='container'>
        <div class='header'>
            <h1>🎉 Welcome to " ++ department ++ "!</h1>
        </div>
        
        <div class='content'>
            <h2>Dear " ++ (employee.firstName default "New Team Member") ++ ",</h2>
            
            <p>We're thrilled to welcome you to our team! Your onboarding process has been successfully initiated.</p>
            
            <div class='highlight'>
                <h3>📋 Your Details:</h3>
                <ul>
                    <li><strong>Name:</strong> " ++ (employee.firstName default "") ++ " " ++ (employee.lastName default "") ++ "</li>
                    <li><strong>Position:</strong> " ++ (employee.position default "Team Member") ++ "</li>
                    <li><strong>Department:</strong> " ++ department ++ "</li>
                    <li><strong>Start Date:</strong> " ++ (employee.startDate default "TBD") ++ "</li>
                    <li><strong>Manager:</strong> " ++ (employee.manager default "HR Team") ++ "</li>
                </ul>
            </div>" ++

            (if (sizeOf(assets) > 0) 
                "<div class='assets'>
                    <h3>💻 Equipment Allocated:</h3>
                    <ul>" ++ 
                    (assets reduce ((asset, acc = "") -> 
                        acc ++ "<li>✅ " ++ asset.type ++ " (ID: " ++ asset.id ++ ")</li>"
                    )) ++
                    "</ul>
                    <p><em>Your equipment will be ready for pickup on your first day at the IT desk.</em></p>
                </div>"
            else "") ++

            "<div class='highlight'>
                <h3>🗓️ Next Steps:</h3>
                <ol>
                    <li>Report to HR Reception at 9:00 AM on your start date</li>
                    <li>Complete your employment documentation</li>
                    <li>Attend new employee orientation (11:00 AM)</li>
                    <li>Meet with your manager and team (2:00 PM)</li>
                    <li>Begin department-specific training</li>
                </ol>
            </div>
            
            <p>If you have any questions before your start date, please don't hesitate to contact:</p>
            <ul>
                <li>📧 <strong>HR Team:</strong> hr@company.com</li>
                <li>📞 <strong>Phone:</strong> (555) 123-4567</li>
                <li>👤 <strong>Your Manager:</strong> " ++ (employee.manager default "HR Team") ++ "</li>
            </ul>
            
            <p>We look forward to having you on the team and seeing all the great things you'll accomplish!</p>
        </div>
        
        <div class='footer'>
            <p>Welcome aboard! 🚀<br>
            The " ++ department ++ " Team<br>
            <em>This email was automatically generated by our Employee Onboarding System</em></p>
        </div>
    </div>
</body>
</html>"
---
{
    emailContent: emailBody,
    plainTextContent: "Welcome to " ++ department ++ "!\n\n" ++
                     "Dear " ++ (employee.firstName default "New Team Member") ++ ",\n\n" ++
                     "We're thrilled to welcome you to our team as " ++ (employee.position default "Team Member") ++ ".\n\n" ++
                     "Your start date: " ++ (employee.startDate default "TBD") ++ "\n" ++
                     "Your manager: " ++ (employee.manager default "HR Team") ++ "\n\n" ++
                     (if (sizeOf(assets) > 0) 
                        "Equipment allocated: " ++ (assets map $.type joinBy ", ") ++ "\n\n"
                     else "") ++
                     "Please report to HR Reception at 9:00 AM on your start date.\n\n" ++
                     "Best regards,\nThe " ++ department ++ " Team"
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
                
                <!-- Simulate Email Sending -->
                <logger level="INFO" doc:name="Simulate Email Send" message="📧 Sending welcome email to: #[vars.emailRequest.to joinBy ', '] with subject: #[vars.emailRequest.subject]"/>
                <logger level="DEBUG" doc:name="Email Content Debug" message="Email HTML content generated: #[payload.emailContent[0..200]]..."/>
                
                <!-- Update Email Status -->
                <db:update doc:name="Update Email Status" doc:id="e6m7a8i9-l0n1-o2t3-i4f5-i6c7a8t9i0o1" config-ref="Database_Config">
                    <db:sql><![CDATA[
                        UPDATE email_notifications 
                        SET status = 'DELIVERED', 
                            delivered_date = CURRENT_TIMESTAMP
                        WHERE recipient_email = :recipientEmail 
                        AND sent_date = (SELECT MAX(sent_date) FROM email_notifications WHERE recipient_email = :recipientEmail)
                    ]]></db:sql>
                    <db:input-parameters><![CDATA[
                        {
                            "recipientEmail": vars.emailRequest.to[0]
                        }
                    ]]></db:input-parameters>
                </db:update>
                
                <ee:transform doc:name="Email Success Response" doc:id="e7m8a9i0-l1n2-o3t4-i5f6-i7c8a9t0i1o2">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    success: true,
    message: "Welcome email sent successfully",
    notification: {
        messageId: "MSG-" ++ (now() as String {format: "yyyyMMddHHmmss"}),
        recipients: vars.emailRequest.to,
        cc: vars.emailRequest.cc default [],
        subject: vars.emailRequest.subject,
        template: vars.emailRequest.template default "welcome_employee",
        sentDate: now() as String,
        status: "DELIVERED",
        trackingId: "EML-" ++ (now() as String {format: "yyyyMMddHHmmss"})
    }
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </when>
            <otherwise>
                <ee:transform doc:name="Invalid Email Request" doc:id="e8m9a0i1-l2n3-o4t5-i6f7-i8c9a0t1i2o3">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    success: false,
    message: "Invalid email request - recipients missing",
    error: "INVALID_RECIPIENTS",
    requiredFields: ["to"],
    receivedFields: keysOf(vars.emailRequest)
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </otherwise>
        </choice>
    </flow>

    <flow name="get-email-templates" doc:id="f1m2a3i4-l5n6-o7t8-e9m0-p1l2a3t4e5s6">
        <http:listener config-ref="Email_Notification_Listener_config" path="/mcp/tools/get-templates" doc:name="Get Templates Listener" doc:id="f2m3a4i5-l6n7-o8t9-e0m1-p2l3a4t5e6s7" allowedMethods="GET"/>
        
        <ee:transform doc:name="Available Templates Response" doc:id="f3m4a5i6-l7n8-o9t0-e1m2-p3l4a5t6e7s8">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    success: true,
    templates: [
        {
            name: "welcome_employee",
            description: "Welcome email for new employees",
            requiredFields: ["employee", "department"],
            optionalFields: ["assets", "manager"],
            category: "onboarding"
        },
        {
            name: "welcome_engineering",
            description: "Engineering department welcome email",
            requiredFields: ["employee", "assets"],
            optionalFields: ["team", "mentor"],
            category: "department_specific"
        },
        {
            name: "welcome_hr",
            description: "HR department welcome email", 
            requiredFields: ["employee", "policies"],
            optionalFields: ["training_schedule"],
            category: "department_specific"
        },
        {
            name: "welcome_sales",
            description: "Sales department welcome email",
            requiredFields: ["employee", "territory"],
            optionalFields: ["sales_tools", "crm_access"],
            category: "department_specific"
        },
        {
            name: "equipment_notification",
            description: "Equipment allocation notification",
            requiredFields: ["employee", "assets"],
            optionalFields: ["pickup_instructions"],
            category: "logistics"
        },
        {
            name: "manager_notification",
            description: "New hire notification for managers",
            requiredFields: ["manager", "employee"],
            optionalFields: ["meeting_schedule"],
            category: "management"
        }
    ],
    totalTemplates: 6,
    categories: ["onboarding", "department_specific", "logistics", "management"]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>

    <flow name="get-email-history" doc:id="g1m2a3i4-l5h6-i7s8-t9o0-r1y2g3e4t5h6">
        <http:listener config-ref="Email_Notification_Listener_config" path="/mcp/tools/get-email-history" doc:name="Get Email History Listener" doc:id="g2m3a4i5-l6h7-i8s9-t0o1-r2y3g4e5t6h7" allowedMethods="GET"/>
        <set-variable variableName="employeeEmail" value="#[attributes.queryParams.email]" doc:name="Set Employee Email Filter"/>
        <set-variable variableName="limit" value="#[attributes.queryParams.limit default 50]" doc:name="Set Query Limit"/>
        
        <db:select doc:name="Get Email History" doc:id="g3m4a5i6-l7h8-i9s0-t1o2-r3y4g5e6t7h8" config-ref="Database_Config">
            <db:sql><![CDATA[
                SELECT * FROM email_notifications 
                WHERE (:employeeEmail IS NULL OR recipient_email = :employeeEmail)
                ORDER BY sent_date DESC 
                LIMIT :limit
            ]]></db:sql>
            <db:input-parameters><![CDATA[
                {
                    "employeeEmail": vars.employeeEmail,
                    "limit": vars.limit as Number
                }
            ]]></db:input-parameters>
        </db:select>
        
        <ee:transform doc:name="Email History Response" doc:id="g4m5a6i7-l8h9-i0s1-t2o3-r4y5g6e7t8h9">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    success: true,
    emailHistory: payload map {
        id: $.id,
        recipientEmail: $.recipient_email,
        subject: $.subject,
        templateType: $.template_type,
        status: $.status,
        sentDate: $.sent_date as String,
        deliveredDate: $.delivered_date as String,
        metadata: if ($.metadata != null) read($.metadata, "application/json") else {}
    },
    totalEmails: sizeOf(payload),
    filter: if (vars.employeeEmail != null) {
        email: vars.employeeEmail
    } else {
        scope: "all"
    }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>

    <flow name="email-health-check" doc:id="h1m2a3i4-l5n6-o7t8-h9e0-a1l2t3h4c5h6">
        <http:listener config-ref="Email_Notification_Listener_config" path="/mcp/email/health" doc:name="Email Health Check Listener" doc:id="h2m3a4i5-l6n7-o8t9-h0e1-a2l3t4h5c6h7" allowedMethods="GET"/>
        
        <try doc:name="Try Email Health Check" doc:id="h3m4a5i6-l7n8-o9t0-h1e2-a3l4t5h6c7h8">
            <db:select doc:name="Email Service Health Check" doc:id="h4m5a6i7-l8n9-o0t1-h2e3-a4l5t6h7c8h9" config-ref="Database_Config">
                <db:sql><![CDATA[SELECT COUNT(*) as total_emails FROM email_notifications WHERE sent_date > CURRENT_DATE - 1]]></db:sql>
            </db:select>
            
            <ee:transform doc:name="Healthy Response" doc:id="h5m6a7i8-l9n0-o1t2-h3e4-a5l6t7h8c9h0">
                <ee:message>
                    <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    status: "healthy",
    service: "Email Notification MCP Server",
    timestamp: now() as String,
    database: "connected",
    version: "1.0.0",
    emailsSentToday: payload[0].total_emails,
    endpoints: [
        "/mcp/tools/send-email",
        "/mcp/tools/get-templates",
        "/mcp/tools/get-email-history",
        "/mcp/email/health"
    ]
}]]></ee:set-payload>
                </ee:message>
            </ee:transform>
            
            <error-handler>
                <on-error-continue>
                    <ee:transform doc:name="Unhealthy Response" doc:id="h6m7a8i9-l0n1-o2t3-h4e5-a6l7t8h9c0h1">
                        <ee:message>
                            <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    status: "unhealthy",
    service: "Email Notification MCP Server",
    timestamp: now() as String,
    database: "disconnected",
    error: error.description,
    version: "1.0.0"
}]]></ee:set-payload>
                        </ee:message>
                        <ee:variables>
                            <ee:set-variable variableName="httpStatus">503</ee:set-variable>
                        </ee:variables>
                    </ee:transform>
                </on-error-continue>
            </error-handler>
        </try>
    </flow>

</mule>
