mcp-postgres-server/src/main/mule/mcp-postgres-server.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:db="http://www.mulesoft.org/schema/mule/db"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="
      http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
      http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
      http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
      http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

    <!-- Health Check Endpoint -->
    <flow name="health-check">
        <http:listener config-ref="mcp-postgres-http-config" path="/health" allowedMethods="GET"/>
        <set-payload value='#[{"status": "UP", "service": "MCP PostgreSQL Server", "timestamp": now() as String}]' mimeType="application/json"/>
        <logger level="INFO" message="Health check requested"/>
    </flow>

    <!-- MCP Server Info Endpoint -->
    <flow name="mcp-server-info">
        <http:listener config-ref="mcp-postgres-http-config" path="/mcp/info" allowedMethods="GET"/>
        <set-payload value='#[{
            "name": "Employee PostgreSQL MCP Server", 
            "version": "1.0.0",
            "description": "MCP Server for Employee Database Operations",
            "tools": [
                {
                    "name": "create-employee",
                    "description": "Creates new employee records in PostgreSQL database",
                    "endpoint": "/mcp/tools/create-employee"
                },
                {
                    "name": "get-employee",
                    "description": "Retrieves employee information by ID or email",
                    "endpoint": "/mcp/tools/get-employee"
                },
                {
                    "name": "update-employee-status",
                    "description": "Updates employee onboarding status",
                    "endpoint": "/mcp/tools/update-status"
                }
            ]
        }]' mimeType="application/json"/>
        <logger level="INFO" message="MCP Server info requested"/>
    </flow>

    <!-- MCP Tool: Create Employee -->
    <flow name="create-employee">
        <http:listener config-ref="mcp-postgres-http-config" path="/mcp/tools/create-employee" allowedMethods="POST"/>
        
        <logger level="INFO" message="Creating employee: #[payload]"/>
        
        <!-- Validate Input -->
        <choice>
            <when expression="#[payload.name == null or payload.email == null]">
                <set-variable value="400" variableName="httpStatus"/>
                <set-payload value='#[{"error": "Missing required fields", "message": "name and email are required"}]' mimeType="application/json"/>
            </when>
            <otherwise>
                <try>
                    <!-- Generate Employee ID -->
                    <set-variable value='#["EMP" ++ (randomInt(999999) + 100000)]' variableName="employeeId"/>
                    
                    <!-- Insert Employee -->
                    <db:insert config-ref="postgres-config">
                        <db:sql>
                            INSERT INTO employees (employee_id, name, email, status, created_at, updated_at) 
                            VALUES (:empId, :name, :email, 'pending', NOW(), NOW())
                        </db:sql>
                        <db:input-parameters><![CDATA[#[{
                            empId: vars.employeeId,
                            name: payload.name,
                            email: payload.email
                        }]]]></db:input-parameters>
                    </db:insert>
                    
                    <!-- Success Response -->
                    <set-payload value='#[{
                        "status": "success",
                        "message": "Employee created successfully",
                        "employeeId": vars.employeeId,
                        "name": payload.name,
                        "email": payload.email,
                        "timestamp": now() as String
                    }]' mimeType="application/json"/>
                    
                    <logger level="INFO" message="Employee created successfully: #[vars.employeeId]"/>
                    
                    <error-handler>
                        <on-error-propagate type="DB:CONNECTIVITY">
                            <set-variable value="503" variableName="httpStatus"/>
                            <set-payload value='#[{"error": "Database Connection Error", "message": "Unable to connect to database"}]' mimeType="application/json"/>
                        </on-error-propagate>
                        <on-error-propagate type="DB:SQL_EXCEPTION">
                            <set-variable value="409" variableName="httpStatus"/>
                            <set-payload value='#[{"error": "Duplicate Entry", "message": "Employee with this email already exists"}]' mimeType="application/json"/>
                        </on-error-propagate>
                    </error-handler>
                </try>
            </otherwise>
        </choice>
        
        <!-- Set HTTP Status -->
        <set-variable value="#[vars.httpStatus default 200]" variableName="httpStatus"/>
    </flow>

    <!-- MCP Tool: Get Employee -->
    <flow name="get-employee">
        <http:listener config-ref="mcp-postgres-http-config" path="/mcp/tools/get-employee" allowedMethods="GET,POST"/>
        
        <logger level="INFO" message="Getting employee: #[attributes.queryParams.empId default payload.empId]"/>
        
        <try>
            <db:select config-ref="postgres-config">
                <db:sql>
                    SELECT employee_id, name, email, status, created_at, updated_at 
                    FROM employees 
                    WHERE employee_id = :empId OR email = :email
                    LIMIT 1
                </db:sql>
                <db:input-parameters><![CDATA[#[{
                    empId: attributes.queryParams.empId default payload.empId,
                    email: attributes.queryParams.email default payload.email
                }]]]></db:input-parameters>
            </db:select>
            
            <choice>
                <when expression="#[sizeOf(payload) > 0]">
                    <set-payload value='#[{
                        "status": "success",
                        "employee": payload[0],
                        "timestamp": now() as String
                    }]' mimeType="application/json"/>
                </when>
                <otherwise>
                    <set-variable value="404" variableName="httpStatus"/>
                    <set-payload value='#[{"error": "Not Found", "message": "Employee not found"}]' mimeType="application/json"/>
                </otherwise>
            </choice>
            
            <error-handler>
                <on-error-propagate type="ANY">
                    <set-variable value="500" variableName="httpStatus"/>
                    <set-payload value='#[{"error": "Database Error", "message": error.description}]' mimeType="application/json"/>
                </on-error-propagate>
            </error-handler>
        </try>
        
        <set-variable value="#[vars.httpStatus default 200]" variableName="httpStatus"/>
    </flow>

    <!-- MCP Tool: Update Employee Status -->
    <flow name="update-employee-status">
        <http:listener config-ref="mcp-postgres-http-config" path="/mcp/tools/update-status" allowedMethods="POST,PUT"/>
        
        <logger level="INFO" message="Updating employee status: #[payload]"/>
        
        <try>
            <db:update config-ref="postgres-config">
                <db:sql>
                    UPDATE employees 
                    SET status = :status, updated_at = NOW() 
                    WHERE employee_id = :empId
                </db:sql>
                <db:input-parameters><![CDATA[#[{
                    empId: payload.empId,
                    status: payload.status default 'active'
                }]]]></db:input-parameters>
            </db:update>
            
            <choice>
                <when expression="#[payload > 0]">
                    <set-payload value='#[{
                        "status": "success",
                        "message": "Employee status updated successfully",
                        "employeeId": payload.empId,
                        "newStatus": payload.status,
                        "timestamp": now() as String
                    }]' mimeType="application/json"/>
                </when>
                <otherwise>
                    <set-variable value="404" variableName="httpStatus"/>
                    <set-payload value='#[{"error": "Not Found", "message": "Employee not found"}]' mimeType="application/json"/>
                </otherwise>
            </choice>
            
            <error-handler>
                <on-error-propagate type="ANY">
                    <set-variable value="500" variableName="httpStatus"/>
                    <set-payload value='#[{"error": "Database Error", "message": error.description}]' mimeType="application/json"/>
                </on-error-propagate>
            </error-handler>
        </try>
        
        <set-variable value="#[vars.httpStatus default 200]" variableName="httpStatus"/>
    </flow>

</mule>
